<p id="notice"><%= notice %></p>

<p>
  <strong>Consumed calories:</strong>
  <%= @consumed_calory.consumed_calories %>
</p>

<p>
  <strong>Calories date:</strong>
  <%= @consumed_calory.calories_date %>
</p>

<%= link_to 'Edit', edit_consumed_calory_path(@consumed_calory) %> |
<%= link_to 'Back', consumed_calories_path %>
