<div class="dashboardbody">
  <h1 class="header">Health Tracker Dashboard</h1>
  <div class="dashboard">
    <%= link_to 'Weights', weights_path %>
  </div>
  <div class="dashboard">
    <%= link_to 'Step Count', step_counts_path %>
    <p> Total steps taken today:</p>
    <%= StepCount.total_steps_taken_today %>
  </div>
  <div class="dashboard">
    <%= link_to 'Performed Exercises', performed_exercises_path %>
  </div>
  <div class="dashboard">
    <%= link_to 'Caloric Intakes', caloric_intakes_path %>
    <p> Total calories consumed today:</p>
    <%= PerformedExercise.net_calories_of_the_day %>
  </div>
</div>
