<%= form_for(@taken_step) do |f| %>
  <% if @taken_step.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@taken_step.errors.count, "error") %> prohibited this performed_exercise from being saved:</h2>

      <ul>
      <% @taken_step.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="field">
    <%= f.label :step_date %><br>
    <%= f.datetime_select :step_date %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
