<p id="notice"><%= notice %></p>

<p>
  <strong>Taken Steps:</strong>
  <%= @step_count.steps_taken %>
</p>

<p>
  <strong>Step date:</strong>
  <%= @step_count.steps_date %>
</p>

<%= link_to 'Edit', edit_step_count_path(@step_count) %> |
<%= link_to 'Back', step_counts_path %>
