<p id="notice"><%= notice %></p>

<h1>Listing Exercises Performeds</h1>

<table>
  <thead>
    <tr>
      <th>Calories burned</th>
      <th>Excercise date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @exercises_performeds.each do |exercises_performed| %>
      <tr>
        <td><%= exercises_performed.calories_burned %></td>
        <td><%= exercises_performed.excercise_date %></td>
        <td><%= link_to 'Show', exercises_performed %></td>
        <td><%= link_to 'Edit', edit_exercises_performed_path(exercises_performed) %></td>
        <td><%= link_to 'Destroy', exercises_performed, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Exercises performed', new_exercises_performed_path %>
